@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to ABC Retail</h1>
    <p>We are committed to providing the best online shopping experience. Explore our products, manage your orders, and much more with ease.</p>
</div>

<div>
    <h2>Eco Friendly Products</h2>
    
    <img src="~/images/Excellent-Eco-friendly-Products.jpg" width = "600" height = "500" class="img-fluid" />
</div>
