@page
@model INSY7315.Pages.ExportModel
@{
    // Sets the page title for the browser
    ViewData["Title"] = "Export";
}

<h2>Export CSV</h2>

@* Simple page that lets the user download a CSV export of products *@
<p>
    Click to download:
    <a class="btn btn-outline-primary" href="@Model.ExportUrl">products.csv</a>
</p>
